// Place all the styles related to the Assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.assets {
  &.index {
    .card {
      img {
        width: 100%;
        height: auto;
      }
      .image-thumb {
        max-height: 250px;
        overflow-y: hidden;
      }
      .card-text {
        height: 70px;
      }
    }
  }
}